{% extends "main.html" %}
{% block content %} 
<div class="row px-3 py-1"></div>
<div class="row py-1">
    <div class="col offset-1">
        <form action="/admin/addUser" method="GET">
            <button class="btn btn-primary py-5 px-5">Přidat hráče</button>
        </form>
    </div>
    <div class="col offset-1">
        <form action="/admin/addMoney" method="GET">
            <button class="btn btn-primary py-5 px-5">Přidat hráči peníze</button>
        </form>
    </div>
    
</div>
    {% for usr in users %}
    <form method="POST" action="/admin/addMoney/{{usr._id}}">
        <div class="row">
            <div class="col offset-1 --bs-border-color-translucent"><h4 class="text-light">{{usr.name}}</h4></div>
            <div class="col --bs-border-color-translucent"><h4 class="text-light">{{usr.money}}</h4></div>
            <div class="col --bs-border-color-translucent"><input type="amount" class="form-control" id="amount" name="amount"></div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Přidat peníze</button>
            </div>
            
        </div>
    </form>
    {% endfor %}
{% endblock %}