{% extends "main.html" %}
    
{% block content %} 
<div class="conteiner offset-1">
    <h1 class="text-light">Finanční noc 2024</h1>
    <p class="text-light">14. června 2024 se bude konat druhý ročník finanční noci.</p>
    <p class="text-light">V této aplikaci se přilhásíte pomocí údajů, které vám vygeneruji já (Vojtěch Krátký)</p>
    <p class="text-light">Cílem je vlastnit co největší majetek na konci hry.</p>
    <p class="text-light">Akcie je možné prodávat a nakupovat v aukci, minimální délky takovéto aukce je 20 minut.</p>
    <p class="text-light">Akcie budou po každém kole vyplácet dividendu, jejížto velikost si každá firma (účastník) zvolí.</p>
</div>
{% endblock%}