{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="col offset-1"><h1 class="text-light">{{usr.name}}</h1></div>
        <div class="col offset-1"><h1 class="text-light">{{usr.money}} Peněz</h1></div>
        <div class="col offset-1">
            <form action="changedividend" method="POST">
                <input type="text" name="dividend" id="dividend">
                <button type="submit">Změnit dividendu</button>
            </form>
            
        </div>
    </div>
    <!-- zde musím dodělat úpravu dividendy-->
    {% for stock in stocks%}
    <div class="row py-2">
        <div class="col-offset-1 col-11">
            <div class="conteiner offset-1 bg-secondary rounded-5">
                <div class="row py-2">
                    <div class="col-4 offset-1"><h3>Společnost:</h3></div>
                    <div class="col-6"><h2 class="text-end">{{stock.name}}</h2></div>
                </div>
                <div class="row">
                    <div class="col-4 offset-1"><h3>Procento:</h3></div>
                    <div class="col-6"><h2 class="text-end">{{stock.percentage}}</h2></div>
                </div>
                <div class="row">
                    <div class="col-4 offset-1"><h3>Dividenda:</h3></div>
                    <div class="col-6"><h2 class="text-end">{{stock.dividend}}</h2></div>
                </div>
            </div>
        </div>
        
    </div>
        
    {% endfor %}
{% endblock%}